.banner {
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h1, h2 {
    color: white;
    text-align: center;
  }
}
